<!DOCTYPE html>
<html>

<head>
    <title>Beatsy </title>
    <link rel="stylesheet" href="./css/Home.css" />

    <style>
        #primary_nav_wrap {
            margin-top: 40px;
            position: absolute;
            margin-left: 1100px;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 5px;

        }

        #primary_nav_wrap ul {
            list-style: none;
            position: relative;
            float: left;
            margin: 0;
            padding: 0;

        }

        #primary_nav_wrap ul a {
            display: block;
            color: white;
            text-decoration: none;
            font-weight: 700;
            font-size: 18px;
            line-height: 32px;
            padding: 0 15px;
            font-family: Arial, Helvetica, sans-serif;

        }

        #primary_nav_wrap ul li {
            position: relative;
            float: left;
            margin: 0;
            padding: 0;

        }



        #primary_nav_wrap ul li:hover {
            background: #34495E;
            border-radius: 5px;

        }

        #primary_nav_wrap ul ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background: #34495E;
            padding: 0;
            width: 130px;
        }


        .current-menu-item ul ul li {
            float: none;
            width: 130px;
            width: 130px;
        }

        .current-menu-item ul ul a {
            line-height: 120%;
            padding: 10px 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            width: 130px;
        }

        .current-menu-item ul ul ul {
            top: 0;
            left: 100%;
            width: 130px;
        }

        #primary_nav_wrap ul li:hover>ul {
            display: block;
            background-color: #34495E;
            ;
        }

        .drop {
            color: white !important;
            width: 130px;

        }

        .down:hover {
            width: 130px;
            background-color: rgb(0, 0, 0);
            border-radius: 5px;
        }
    </style>
</head>

<body
    style="background-image: url('https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">

    <div class="title">
        <a href="https://cooltext.com"><img src="https://images.cooltext.com/5345510.png" width="246" height="88"
                alt="Beatsy" style="float: left;" /></a>
        <p style="margin-top: 80px;margin-left:10px;position: absolute;color: white;">Digital music service </p>


    </div>
    <nav id="primary_nav_wrap">
        <ul>
            <li class="current-menu-item"><a style="font-size46px" href="../client/Home.html">Home</a></li>
            <li class="current-menu-item"><a style="font-size46px" href="../client/about.html">About</a></li>
            <li><a href="#">My Account</a>
                <ul class="down" style="width: 130px;margin-top:0px;">
                    <li><a style="font-size46px" class="down" href="/profile">My Profile</a></li>
                    <li><a style="font-size46px" class="down" href="/logout">Logout</a></li>
                </ul>
    </nav>


    <div class="playlist">

        <h1 style="color: white; text-shadow: 5px 2px #000000;"><u>Choose Playlist <%= name %></u></h1>
        <section class="main">

            <a href="english.html" style="text-decoration: none;">
                <div class="wrap wrap--1">
                    <div class="container container--1">
                        <p>English</p>
                    </div>
                </div>
            </a>

            <a style="text-decoration: none;" href="hindi.html">
                <div class="wrap wrap--2">
                    <div class="container container--2">
                        <p>Hindi</p>
                    </div>
                </div>
            </a>
            <a href="Malayalam.html" style="text-decoration: none;">
                <div class="wrap wrap--3">
                    <div class="container container--3">
                        <p>Malayalam</p>
                    </div>
                </div>
            </a>

        </section>
    </div>
</body>

<script>


    class parallaxTiltEffect {

        constructor({ element, tiltEffect }) {

            this.element = element;
            this.container = this.element.querySelector(".container");
            this.size = [300, 360];
            [this.w, this.h] = this.size;

            this.tiltEffect = tiltEffect;

            this.mouseOnComponent = false;

            this.handleMouseMove = this.handleMouseMove.bind(this);
            this.handleMouseEnter = this.handleMouseEnter.bind(this);
            this.handleMouseLeave = this.handleMouseLeave.bind(this);
            this.defaultStates = this.defaultStates.bind(this);
            this.setProperty = this.setProperty.bind(this);
            this.init = this.init.bind(this);

            this.init();
        }

        handleMouseMove(event) {
            const { offsetX, offsetY } = event;

            let X;
            let Y;

            if (this.tiltEffect === "reverse") {
                X = ((offsetX - (this.w / 2)) / 3) / 3;
                Y = (-(offsetY - (this.h / 2)) / 3) / 3;
            }

            else if (this.tiltEffect === "normal") {
                X = (-(offsetX - (this.w / 2)) / 3) / 3;
                Y = ((offsetY - (this.h / 2)) / 3) / 3;
            }

            this.setProperty('--rY', X.toFixed(2));
            this.setProperty('--rX', Y.toFixed(2));

            this.setProperty('--bY', (80 - (X / 4).toFixed(2)) + '%');
            this.setProperty('--bX', (50 - (Y / 4).toFixed(2)) + '%');
        }

        handleMouseEnter() {
            this.mouseOnComponent = true;
            this.container.classList.add("container--active");
        }

        handleMouseLeave() {
            this.mouseOnComponent = false;
            this.defaultStates();
        }

        defaultStates() {
            this.container.classList.remove("container--active");
            this.setProperty('--rY', 0);
            this.setProperty('--rX', 0);
            this.setProperty('--bY', '80%');
            this.setProperty('--bX', '50%');
        }

        setProperty(p, v) {
            return this.container.style.setProperty(p, v);
        }

        init() {
            this.element.addEventListener('mousemove', this.handleMouseMove);
            this.element.addEventListener('mouseenter', this.handleMouseEnter);
            this.element.addEventListener('mouseleave', this.handleMouseLeave);
        }

    }

    const $ = e => document.querySelector(e);

    const wrap1 = new parallaxTiltEffect({
        element: $('.wrap--1'),
        tiltEffect: 'reverse'
    });

    const wrap2 = new parallaxTiltEffect({
        element: $('.wrap--2'),
        tiltEffect: 'normal'
    });

    const wrap3 = new parallaxTiltEffect({
        element: $('.wrap--3'),
        tiltEffect: 'reverse'
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#form").submit(function (event) {
            event.preventDefault();

            $.ajax({
                type: 'POST',
                url: '/profile',
                data: $('#form').serialize(),
                dataType: "json",
                success: function (response) {
                    //alert("a");
                    //console.log(response.Success);
                    $('#form')[0].reset();

                    document.getElementById("check").innerHTML = response.Success;
                    //ADD THIS CODE
                    setTimeout(function () {
                        document.getElementById("check").innerHTML = "";
                    }, 3000);
                    if (response.Success == "Success!") {
                        document.getElementById("aa").click();
                        // console.log(data.username);
                    };
                },
                error: function () {
                }
            })
        });

    });
</script>

</html>