<!DOCTYPE html>
<html>

<head>
	<title>Beatsy - User Profile</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./client/css/login.css">
	<style>
		@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";

		.rwd-table {
			margin: 1em 0;
			min-width: 400px;
			font-family: Arial, Helvetica, sans-serif;
			text-align: center;
		}

		.rwd-table tr {
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
		}

		.rwd-table th {
			display: none;
		}

		.rwd-table td {
			display: block;
		}

		.rwd-table td:first-child {
			padding-top: .5em;
		}

		.rwd-table td:last-child {
			padding-bottom: .5em;
		}

		.rwd-table td:before {
			content: attr(data-th) ": ";
			font-weight: bold;
			width: 6.5em;
			display: inline-block;
		}

		@media (min-width: 480px) {
			.rwd-table td:before {
				display: none;
			}
		}

		.rwd-table th,
		.rwd-table td {
			text-align: left;
		}

		@media (min-width: 480px) {

			.rwd-table th,
			.rwd-table td {
				display: table-cell;
				padding: .25em .5em;
			}

			.rwd-table th:first-child,
			.rwd-table td:first-child {
				padding-left: 0;
			}

			.rwd-table th:last-child,
			.rwd-table td:last-child {
				padding-right: 0;
			}
		}


		.rwd-table h1 {
			font-weight: normal;
			letter-spacing: -1px;
			color: #34495E;
		}

		.rwd-table {
			background: #34495E;
			color: #fff;
			border-radius: .4em;
			overflow: hidden;
		}

		.rwd-table tr {
			border-color: #46637f;
		}

		.rwd-table th,
		.rwd-table td {
			margin: .5em 1em;
		}

		@media (min-width: 480px) {

			.rwd-table th,
			.rwd-table td {
				padding: 1em !important;
			}
		}

		.rwd-table th,
		.rwd-table td:before {
			color: #dd5;
		}


		#primary_nav_wrap {
			margin-top: 40px;
			position: absolute;
			margin-left: 1100px;
			background-color: rgb(255, 242, 242, 0.2);
			border-radius: 5px;

		}

		#primary_nav_wrap ul {
			list-style: none;
			position: relative;
			float: left;
			margin: 0;
			padding: 0;

		}

		#primary_nav_wrap ul a {
			display: block;
			color: white;
			text-decoration: none;
			font-weight: 700;
			font-size: 18px;
			line-height: 32px;
			padding: 0 15px;
			font-family: Arial, Helvetica, sans-serif;

		}

		#primary_nav_wrap ul li {
			position: relative;
			float: left;
			margin: 0;
			padding: 0;

		}



		#primary_nav_wrap ul li:hover {
			background: #34495E;
			border-radius: 5px;

		}

		#primary_nav_wrap ul ul {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			background: #34495E;
			padding: 0;
			width: 130px;
		}


		.current-menu-item ul ul li {
			float: none;
			width: 130px;
			width: 130px;
		}

		.current-menu-item ul ul a {
			line-height: 120%;
			padding: 10px 15px;
			font-family: Arial, Helvetica, sans-serif;
			color: white;
			width: 130px;
		}

		.current-menu-item ul ul ul {
			top: 0;
			left: 100%;
			width: 130px;
		}

		#primary_nav_wrap ul li:hover>ul {
			display: block;
			background-color: #34495E;
			;
		}

		.drop {
			color: white !important;
			width: 130px;

		}

		.down:hover {
			width: 130px;
			background-color: rgb(0, 0, 0);
			border-radius: 5px;
		}

		/* image jumping */
		.box {
			align-self: flex-end;
			animation-duration: 2.5s;
			animation-iteration-count: infinite;
			position: relative;

			margin: 0 auto 0 auto;
			transform-origin: bottom;

		}

		.bounce-3 {
			animation-name: bounce-3;
			animation-timing-function: ease;
		}

		@keyframes bounce-3 {
			0% {
				transform: translateY(0);
			}

			30% {
				transform: translateY(-100px);
			}

			50% {
				transform: translateY(0);
			}

			100% {
				transform: translateY(0);
			}
		}

		/* user animation here */

		#user {
			display: table-cell;
			vertical-align: middle;
			position: absolute;
			margin-top: 160px;
			margin-left: 300px;
			z-index: -1;
		}

		.background-circle {
			width: 400px;
			height: 400px;
			border-radius: 100%;
			overflow: hidden;
			margin: 0 auto;
			background: #95B3BF;
			position: relative;
			-webkit-mask-image: -webkit-radial-gradient(#BADA55, #BADA55);
			-moz-mask-image: -webkit-radial-gradient(#BADA55, #BADA55);
			-o-mask-image: -webkit-radial-gradient(#BADA55, #BADA55);
			-ms-mask-image: -webkit-radial-gradient(#BADA55, #BADA55);
			animation: grow 0.7s 1 ease;
			-webkit-animation: grow 0.7s 1 ease;
			transform-origin: center;
		}

		.border-circle {
			width: 399px;
			height: 399px;
			border-radius: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -220px;
			margin-top: -220px;
			border: 10px solid #FCB040;
			-webkit-transform: scale(0);
			transform: scale(0);
			-webkit-transform-origin: center;
			transform-origin: center;
		}

		.border-circle#one {
			animation: border-pulse 1s 3.1s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: border-pulse 1s 3.1s 1 ease;
			-webkit-animation-fill-mode: forwards;
		}

		.border-circle#two {
			animation: border-pulse 1s 3.3s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: border-pulse 1s 3.3s 1 ease;
			-webkit-animation-fill-mode: forwards;
		}

		.body {
			width: 285px;
			height: 600px;
			margin: 0 auto;
			background: #222;
			border-radius: 100px;
			position: relative;
			top: 200px;
			animation: body-enter 0.7s 0.2s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: body-enter 0.7s 0.2s 1 ease;
			-webkit-animation-fill-mode: forwards;
			-webkit-transform: scale(0) translateZ(0);
			transform: scale(0) translateZ(0);
		}

		.head {
			width: 196px;
			height: 260px;
			border-radius: 50px;
			background: #FFE4BE;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -210px;
			margin-left: -98px;
			animation: grow 0.7s 0.4s 1 ease, music-move 1s 3.3s infinite alternate ease-in-out;
			-webkit-animation: grow 0.7s 0.4s 1 ease, music-move 1s 3.3s infinite alternate ease-in-out;
			/*
  animation:grow 0.7s 0.4s 1 ease;
  -webkit-animation:grow 0.7s 0.4s 1 ease;
*/
			transform-origin: bottom;
			-webkit-transform-origin: bottom;
			-webkit-transform: scale(0) translateZ(0);
			transform: scale(0) translateZ(0);
			-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
		}

		.hair-main {
			width: 220px;
			height: 0px;
			background: #E7AB57;
			border-radius: 54px 54px 0px 0px;
			margin-left: -12px;
			margin-top: -10px;
			animation: hair-anim 0.7s 0.9s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: hair-anim 0.7s 0.9s 1 ease;
			-webkit-animation-fill-mode: forwards;
			position: relative;
			z-index: 2;
		}

		.hair-top {
			width: 128px;
			height: 70px;
			opacity: 0;
			border-top-right-radius: 30px;
			background: #E7AB57;
			position: relative;
			top: -17px;
			left: 50%;
			transform: translateX(-64px);
			-webkit-transform: translateX(-64px);
			transform-origin: right;
			-webkit-transform-origin: right;
			animation: hair-top-anim 0.7s 1s 1 ease;
			-webkit-animation: hair-top-anim 0.7s 1s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation-fill-mode: forwards;
		}

		.hair-bottom {
			width: 54px;
			height: 50px;
			opacity: 0;
			border-bottom-left-radius: 25px;
			background: #E7AB57;
			position: relative;
			top: -20px;
			left: 50%;
			transform: translateX(-27px);
			-webkit-transform: translateX(-27px);
			transform-origin: left;
			-webkit-transform-origin: left;
			animation: hair-bottom-anim 0.7s 1.4s 1 ease;
			-webkit-animation: hair-bottom-anim 0.7s 1.4s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation-fill-mode: forwards;
		}

		.sideburn {
			width: 8px;
			height: 25px;
			background: #E7AB57;
			position: absolute;
			bottom: -25px;
			opacity: 0;
			animation: sideburn-anim 0.7s 0.9s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: sideburn-anim 0.7s 0.9s 1 ease;
			-webkit-animation-fill-mode: forwards;
		}

		.sideburn#left {
			left: 12px;
		}

		.sideburn#right {
			right: 12px;
		}

		.face {
			width: 180px;
			height: 0px;
			border-radius: 48px 48px 0 0;
			background: #FFE4BE;
			position: absolute;
			top: 40px;
			left: 8px;
			animation: hair-anim 0.1s 0.8s 1 linear;
			animation-fill-mode: forwards;
			-webkit-animation: hair-anim 0.1s 0.8s 1 linear;
			-webkit-animation-fill-mode: forwards;
			z-index: 3;
		}

		.nose {
			width: 20px;
			height: 45px;
			opacity: 1;
			background: #FFE4BE;
			border-top-left-radius: 20px;
			position: absolute;
			left: 50%;
			top: 80px;
			margin-left: -20px;
			animation: shadow-anim 0.7s 3s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: shadow-anim 0.7s 3s 1 ease;
			-webkit-animation-fill-mode: forwards;
			opacity: 0;
			z-index: 5;
		}

		.ear {
			width: 24px;
			height: 35px;
			background: #FFE4BE;
			border-radius: 12px;
			position: absolute;
			top: 116px;
			animation: grow 0.7s 1.3s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: grow 0.7s 1.3s 1 ease;
			-webkit-animation-fill-mode: forwards;
			-webkit-transform: scale(0);
			transform: scale(0);
		}

		.mouth {
			width: 66px;
			height: 33px;
			border-radius: 0 0 33px 33px;
			background: white;
			position: absolute;
			top: 150px;
			left: 50%;
			margin-left: -33px;
			animation: grow 0.7s 2.6s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: grow 0.7s 2.6s 1 ease;
			-webkit-animation-fill-mode: forwards;
			-webkit-transform: scale(0);
			transform: scale(0);
		}

		.ear#left {
			left: -12px;
		}

		.ear#right {
			right: -12px;
		}

		.eye-shadow {
			width: 30px;
			height: 15px;
			border-radius: 0 0 15px 15px;
			background: rgba(149, 36, 0, 0.1);
			position: absolute;
			top: 70px;
			animation: grow 0.7s 2s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: grow 0.7s 2s 1 ease;
			-webkit-animation-fill-mode: forwards;
			-webkit-transform: scale(0);
			transform: scale(0);
		}

		.eye-shadow#left {
			left: 35px;
			z-index: 5;
		}

		.eye-shadow#right {
			right: 35px;
		}

		.eyebrow {
			width: 40px;
			height: 10px;
			background: #E7AB57;
			position: absolute;
			top: -35px;
			left: 50%;
			margin-left: -20px;
			opacity: 0;
			-webkit-backface-visibility: hidden;
		}

		.eye-shadow#left .eyebrow {
			animation: eyebrow-anim-left 0.7s 2.2s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: eyebrow-anim-left 0.7s 2.2s 1 ease;
			-webkit-animation-fill-mode: forwards;
		}

		.eye-shadow#right .eyebrow {
			animation: eyebrow-anim-right 0.7s 2.2s 1 ease, eyebrow-raise 2s 6.6s infinite alternate ease-in-out;
			animation-fill-mode: forwards;
			-webkit-animation: eyebrow-anim-right 0.7s 2.2s 1 ease, eyebrow-raise 2s 6.6s infinite alternate ease-in-out;
			-webkit-animation-fill-mode: forwards;
		}

		.eye {
			width: 20px;
			height: 28px;
			border-radius: 10px;
			background: #334C68;
			position: absolute;
			top: -18px;
			left: 50%;
			margin-left: -10px;
			animation: grow 0.7s 2.2s 1 ease, eye-blink 4s 4.4s infinite linear;
			animation-fill-mode: forwards;
			-webkit-animation: grow 0.7s 2.2s 1 ease, eye-blink 4s 4.4s infinite linear;
			-webkit-animation-fill-mode: forwards;
			-webkit-transform: scale(0);
			transform: scale(0);
			-webkit-transform-origin: bottom;
			transform-origin: bottom;

		}

		.shadow-wrapper {
			width: 98px;
			height: 260px;
			position: absolute;
			left: -8px;
			bottom: -84px;
			z-index: 4;
			overflow: hidden;
		}

		.shadow {
			width: 98px;
			height: 260px;
			border-radius: 50px;
			background: rgba(149, 36, 0, 0.1);
			position: absolute;
			z-index: 4;
			opacity: 0;
			animation: shadow-anim 1s 2.8s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: shadow-anim 1s 2.8s 1 ease;
			-webkit-animation-fill-mode: forwards;
		}

		.triangle-light {
			width: 400px;
			height: 600px;
			background: #FFFFFF;
			opacity: 0.2;
			position: absolute;
			right: -65%;
			animation: triangle-light-anim 1s 2.8s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: triangle-light-anim 1s 2.8s 1 ease;
			-webkit-animation-fill-mode: forwards;
			-webkit-transform: translate(200px, 0px);
			transform: translate(200px, 0px);
		}

		.triangle-dark {
			width: 400px;
			height: 600px;
			background: #000000;
			opacity: 0.2;
			position: absolute;
			left: -60%;
			top: 30%;
			animation: triangle-dark-anim 1s 3s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: triangle-dark-anim 1s 3s 1 ease;
			-webkit-animation-fill-mode: forwards;
			-webkit-transform: translate(-200px, 0px);
			transform: translate(-200px, 0px);
		}

		.music-note {
			position: absolute;
			font-size: 150px;
			color: #FCB040;
			width: 1px;
			left: 50%;
			opacity: 0;
		}

		.music-note#one {
			margin-left: -250px;
			top: 50%;
			animation: note-anim 2s 3.5s infinite ease;
			animation-fill-mode: forwards;
			-webkit-animation: note-anim 2s 3.5s infinite ease;
			-webkit-animation-fill-mode: forwards;
		}

		.music-note#two {
			margin-left: 150px;
			top: 30%;
			animation: note-anim 2s 4.3s infinite ease;
			animation-fill-mode: forwards;
			-webkit-animation: note-anim 2s 4.3s infinite ease;
			-webkit-animation-fill-mode: forwards;
		}

		.shirt-text {
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			color: white;
			position: relative;
			top: -300px;
			margin-left: 80px;
			font-size: 40px;
			display: inline-block;
			-webkit-text-stroke: 2px;
			-webkit-transform: translate(0px, 100px);
			transform: translate(0px, 100px);
			animation-fill-mode: forwards !important;
			-webkit-animation-fill-mode: forwards !important;
		}

		.shirt-text:nth-of-type(1) {
			animation: text-anim 0.7s 3s 1 ease;
			-webkit-animation: text-anim 0.7s 3s 1 ease;
		}

		.shirt-text:nth-of-type(2) {
			color: #EF4136;
			animation: text-anim 0.7s 3.1s 1 ease;
			-webkit-animation: text-anim 0.7s 3.1s 1 ease;
		}

		.shirt-text:nth-of-type(3) {
			animation: text-anim 0.7s 3.2s 1 ease;
			-webkit-animation: text-anim 0.7s 3.2s 1 ease;
		}

		.shirt-text:nth-of-type(4) {
			animation: text-anim 0.7s 3.3s 1 ease;
			-webkit-animation: text-anim 0.7s 3.3s 1 ease;
		}

		.shirt-text:nth-of-type(5) {
			animation: text-anim 0.7s 3.4s 1 ease;
			-webkit-animation: text-anim 0.7s 3.4s 1 ease;
		}

		@keyframes grow {
			0% {
				position: absolute;
				-webkit-transform: scale(0) translateZ(0);
				transform: scale(0) translateZ(0);
			}

			60% {
				-webkit-transform: scale(1.15) translateZ(0);
				transform: scale(1.15) translateZ(0);
			}

			80% {
				-webkit-transform: scale(0.95) translateZ(0);
				transform: scale(0.95) translateZ(0);
			}

			100% {
				-webkit-transform: scale(1) translateZ(0);
				transform: scale(1) translateZ(0);
			}
		}

		@-webkit-keyframes grow

		/* Safari and Chrome */
			{
			0% {
				position: absolute;
				-webkit-transform: scale(0) translateZ(0);
				transform: scale(0) translateZ(0);
			}

			60% {
				-webkit-transform: scale(1.15) translateZ(0);
				transform: scale(1.15) translateZ(0);
			}

			80% {
				-webkit-transform: scale(0.95) translateZ(0);
				transform: scale(0.95) translateZ(0);
			}

			100% {
				-webkit-transform: scale(1) translateZ(0);
				transform: scale(1) translateZ(0);
			}
		}

		@keyframes body-enter {
			0% {
				-webkit-transform: translateY(200px) translateZ(0);
				transform: translateY(200px) translateZ(0);
			}

			60% {
				-webkit-transform: translateY(-20px) translateZ(0);
				transform: translateY(-20px) translateZ(0);
			}

			80% {
				-webkit-transform: translateY(30px) translateZ(0);
				transform: translateY(30px) translateZ(0);
			}

			100% {
				-webkit-transform: translateY(0px) translateZ(0);
				transform: translateY(0px) translateZ(0);
			}
		}

		@-webkit-keyframes body-enter

		/* Safari and Chrome */
			{
			0% {
				-webkit-transform: translateY(200px) translateZ(0);
				transform: translateY(200px) translateZ(0);
			}

			60% {
				-webkit-transform: translateY(-20px) translateZ(0);
				transform: translateY(-20px) translateZ(0);
			}

			80% {
				-webkit-transform: translateY(30px) translateZ(0);
				transform: translateY(30px) translateZ(0);
			}

			100% {
				-webkit-transform: translateY(0px) translateZ(0);
				transform: translateY(0px) translateZ(0);
			}
		}

		@keyframes hair-anim {
			0% {
				height: 0px;
				-webkit-transform: translateY(137px) translateZ(0);
				transform: translateY(137px) translateZ(0);
			}

			100% {
				height: 137px;
				-webkit-transform: translateY(0px) translateZ(0);
				transform: translateY(0px) translateZ(0);
			}
		}

		@-webkit-keyframes hair-anim

		/* Safari and Chrome */
			{
			0% {
				height: 0px;
				-webkit-transform: translateY(137px) translateZ(0);
				transform: translateY(137px) translateZ(0);
			}

			100% {
				height: 137px;
				-webkit-transform: translateY(0px) translateZ(0);
				transform: translateY(0px) translateZ(0);
			}
		}

		@keyframes sideburn-anim {
			0% {
				opacity: 0;
				-webkit-transform: translateY(-25px) translateZ(0);
				transform: translateY(-25px) translateZ(0);
			}

			100% {
				opacity: 1;
				-webkit-transform: translateY(0px) translateZ(0);
				transform: translateY(0px) translateZ(0);
			}
		}

		@-webkit-keyframes sideburn-anim

		/* Safari and Chrome */
			{
			0% {
				opacity: 0;
				-webkit-transform: translateY(-25px) translateZ(0);
				transform: translateY(-25px) translateZ(0);
			}

			100% {
				opacity: 1;
				-webkit-transform: translateY(0px) translateZ(0);
				transform: translateY(0px) translateZ(0);
			}
		}

		@keyframes hair-top-anim {
			0% {
				opacity: 0;
				-webkit-transform: translate(-64px, 30px) translateZ(0);
				transform: translate(-64px, 30px) translateZ(0);
			}

			60% {
				opacity: 1;
				-webkit-transform: rotate(0deg) translate(-64px, 30px) translateZ(0);
				transform: rotate(0deg) translate(-64px, 30px) translateZ(0);
			}

			80% {
				opacity: 1;
				-webkit-transform: rotate(10deg) translate(-64px, -5px) translateZ(0);
				transform: rotate(10deg) translate(-64px, -5px) translateZ(0);
			}

			100% {
				opacity: 1;
				-webkit-transform: rotate(0deg) translate(-64px, 0px) translateZ(0);
				transform: rotate(0deg) translate(-64px, 0px) translateZ(0);
			}
		}

		@-webkit-keyframes hair-top-anim

		/* Safari and Chrome */
			{
			0% {
				opacity: 0;
				-webkit-transform: translate(-64px, 30px) translateZ(0);
				transform: translate(-64px, 30px) translateZ(0);
			}

			60% {
				opacity: 1;
				-webkit-transform: rotate(0deg) translate(-64px, 30px) translateZ(0);
				transform: rotate(0deg) translate(-64px, 30px) translateZ(0);
			}

			80% {
				opacity: 1;
				-webkit-transform: rotate(10deg) translate(-64px, -5px) translateZ(0);
				transform: rotate(10deg) translate(-64px, -5px) translateZ(0);
			}

			100% {
				opacity: 1;
				-webkit-transform: rotate(0deg) translate(-64px, 0px) translateZ(0);
				transform: rotate(0deg) translate(-64px, 0px) translateZ(0);
			}
		}

		@keyframes hair-bottom-anim {
			0% {
				opacity: 0;
				-webkit-transform: translate(-27px, -40px) translateZ(0);
				transform: translate(-27px, -40px) translateZ(0);
			}

			60% {
				opacity: 1;
				-webkit-transform: rotate(0deg) translate(-27px, -40px) translateZ(0);
				transform: rotate(0deg) translate(-27px, -40px) translateZ(0);
			}

			80% {
				opacity: 1;
				-webkit-transform: rotate(10deg) translate(-27px, 5px) translateZ(0);
				transform: rotate(10deg) translate(-27px, 5px) translateZ(0);
			}

			100% {
				opacity: 1;
				-webkit-transform: rotate(0deg) translate(-27px, 0px) translateZ(0);
				transform: rotate(0deg) translate(-27px, 0px) translateZ(0);
			}
		}

		@-webkit-keyframes hair-bottom-anim

		/* Safari and Chrome */
			{
			0% {
				opacity: 0;
				-webkit-transform: translate(-27px, -40px) translateZ(0);
				transform: translate(-27px, -40px) translateZ(0);
			}

			60% {
				opacity: 1;
				-webkit-transform: rotate(0deg) translate(-27px, -40px) translateZ(0);
				transform: rotate(0deg) translate(-27px, -40px) translateZ(0);
			}

			80% {
				opacity: 1;
				-webkit-transform: rotate(10deg) translate(-27px, 5px) translateZ(0);
				transform: rotate(10deg) translate(-27px, 5px) translateZ(0);
			}

			100% {
				opacity: 1;
				-webkit-transform: rotate(0deg) translate(-27px, 0px) translateZ(0);
				transform: rotate(0deg) translate(-27px, 0px) translateZ(0);
			}
		}

		@keyframes music-move {
			0% {
				-webkit-transform: rotate(0deg) translateZ(0);
				transform: rotate(0deg) translateZ(0);
			}

			33% {
				-webkit-transform: rotate(-5deg) translateZ(0);
				transform: rotate(-5deg) translateZ(0);
			}

			66% {
				-webkit-transform: rotate(5deg) translateZ(0);
				transform: rotate(5deg) translateZ(0);
			}

			100% {
				-webkit-transform: rotate(0deg) translateZ(0);
				transform: rotate(0deg) translateZ(0);
			}
		}

		@-webkit-keyframes music-move

		/* Safari and Chrome */
			{
			0% {
				-webkit-transform: rotate(0deg) translateZ(0);
				transform: rotate(0deg) translateZ(0);
			}

			33% {
				-webkit-transform: rotate(-5deg) translateZ(0);
				transform: rotate(-5deg) translateZ(0);
			}

			66% {
				-webkit-transform: rotate(5deg) translateZ(0);
				transform: rotate(5deg) translateZ(0);
			}

			100% {
				-webkit-transform: rotate(0deg) translateZ(0);
				transform: rotate(0deg) translateZ(0);
			}
		}

		@keyframes eyebrow-anim-right {
			0% {
				opacity: 0;
				-webkit-transform: translateY(-25px) translateZ(0);
				transform: translateY(-25px) translateZ(0);
			}

			70% {
				opacity: 1;
				-webkit-transform: translateY(5px) translateZ(0);
				transform: translateY(5px) translateZ(0);
			}

			100% {
				opacity: 1;
				-webkit-transform: rotate(9deg) translateY(0px) translateZ(0);
				transform: rotate(9deg) translateY(0px) translateZ(0);
			}
		}

		@-webkit-keyframes eyebrow-anim-right

		/* Safari and Chrome */
			{
			0% {
				opacity: 0;
				-webkit-transform: translateY(-25px) translateZ(0);
				transform: translateY(-25px) translateZ(0);
			}

			70% {
				opacity: 1;
				-webkit-transform: translateY(5px) translateZ(0);
				transform: translateY(5px) translateZ(0);
			}

			100% {
				opacity: 1;
				-webkit-transform: rotate(9deg) translateY(0px) translateZ(0);
				transform: rotate(9deg) translateY(0px) translateZ(0);
			}
		}

		@keyframes eyebrow-raise {
			0% {
				top: -35px;
			}

			80% {
				top: -35px;

			}

			100% {
				top: -45px;
			}
		}

		@-webkit-keyframes eyebrow-raise

		/* Safari and Chrome */
			{
			0% {
				top: -35px;
			}

			80% {
				top: -35px;

			}

			100% {
				top: -45px;
			}
		}

		@keyframes eyebrow-anim-left {
			0% {
				opacity: 0;
				-webkit-transform: translateY(-25px) translateZ(0);
				transform: translateY(-25px) translateZ(0);
			}

			70% {
				opacity: 1;
				-webkit-transform: translateY(5px) translateZ(0);
				transform: translateY(5px);
			}

			100% {
				opacity: 1;
				-webkit-transform: translateY(0px) translateZ(0);
				transform: translateY(0px) translateZ(0);
			}
		}

		@-webkit-keyframes eyebrow-anim-left

		/* Safari and Chrome */
			{
			0% {
				opacity: 0;
				-webkit-transform: translateY(-25px) translateZ(0);
				transform: translateY(-25px) translateZ(0);
			}

			70% {
				opacity: 1;
				-webkit-transform: translateY(5px) translateZ(0);
				transform: translateY(5px) translateZ(0);
			}

			100% {
				opacity: 1;
				-webkit-transform: translateY(0px) translateZ(0);
				transform: translateY(0px) translateZ(0);
			}
		}

		@keyframes border-pulse {
			0% {
				-webkit-transform: scale(0) translateZ(0);
				transform: scale(0) translateZ(0);
				border-width: 20px;
			}

			40% {
				-webkit-transform: scale(1) translateZ(0);
				transform: scale(1) translateZ(0);
				border-width: 20px;
				margin-left: -220px;
				margin-top: -220px;
			}

			100% {
				-webkit-transform: scale(1.5) translateZ(0);
				transform: scale(1.5) translateZ(0);
				border-width: 0px;
				border-style: double;
				margin-left: -200px;
				margin-top: -200px;
			}
		}

		@-webkit-keyframes border-pulse

		/* Safari and Chrome */
			{
			0% {
				-webkit-transform: scale(0) translateZ(0);
				transform: scale(0) translateZ(0);
				border-width: 20px;
			}

			40% {
				-webkit-transform: scale(1) translateZ(0);
				transform: scale(1) translateZ(0);
				border-width: 20px;
				margin-left: -220px;
				margin-top: -220px;
			}

			100% {
				-webkit-transform: scale(1.5) translateZ(0);
				transform: scale(1.5) translateZ(0);
				border-width: 0px;
				border-style: double;
				margin-left: -200px;
				margin-top: -200px;
			}
		}

		@keyframes shadow-anim {
			0% {
				opacity: 0;
				-webkit-transform: translate(98px, 0px) translateZ(0);
				transform: translate(98px, 0px) translateZ(0);
			}

			50% {
				opacity: 0;
			}

			100% {
				opacity: 1;
				-webkit-transform: translate(0px, 0px) translateZ(0);
				transform: translate(0px, 0px) translateZ(0);
			}
		}

		@-webkit-keyframes shadow-anim

		/* Safari and Chrome */
			{
			0% {
				opacity: 0;
				-webkit-transform: translate(98px, 0px) translateZ(0);
				transform: translate(98px, 0px) translateZ(0);
			}

			50% {
				opacity: 0;
			}

			100% {
				opacity: 1;
				-webkit-transform: translate(0px, 0px) translateZ(0);
				transform: translate(0px, 0px) translateZ(0);
			}
		}

		@keyframes triangle-light-anim {
			0% {
				-webkit-transform: translate(200px, 0px) translateZ(0);
				transform: translate(200px, 0px) translateZ(0);
			}

			100% {
				-webkit-transform: rotate(45deg) translate(0px, 0px) translateZ(0);
				transform: rotate(45deg) translate(0px, 0px) translateZ(0);
			}
		}

		@-webkit-keyframes triangle-light-anim

		/* Safari and Chrome */
			{
			0% {
				-webkit-transform: translate(200px, 0px) translateZ(0);
				transform: translate(200px, 0px) translateZ(0);
			}

			100% {
				-webkit-transform: rotate(45deg) translate(0px, 0px) translateZ(0);
				transform: rotate(45deg) translate(0px, 0px) translateZ(0);
			}
		}

		@keyframes triangle-dark-anim {
			0% {
				-webkit-transform: translate(-200px, 0px) translateZ(0);
				transform: translate(-200px, 0px) translateZ(0);
			}

			100% {
				-webkit-transform: rotate(-45deg) translate(0px, 0px) translateZ(0);
				transform: rotate(-45deg) translate(0px, 0px) translateZ(0);
			}
		}

		@-webkit-keyframes triangle-dark-anim

		/* Safari and Chrome */
			{
			0% {
				-webkit-transform: translate(-200px, 0px) translateZ(0);
				transform: translate(-200px, 0px) translateZ(0);
			}

			100% {
				-webkit-transform: rotate(-45deg) translate(0px, 0px) translateZ(0);
				transform: rotate(-45deg) translate(0px, 0px) translateZ(0);
			}
		}

		@keyframes note-anim {
			0% {
				opacity: 0;
				-webkit-transform: translate(0px, 50px) translateZ(0);
				transform: translate(0px, 50px) translateZ(0);
			}

			30% {
				-webkit-transform: rotate(12deg) translate(-30px, 0px) translateZ(0);
				transform: rotate(12deg) translate(-30px, 0px) translateZ(0);
			}

			45% {
				opacity: 1;
			}

			60% {
				-webkit-transform: rotate(-12deg) translate(30px, -100px) translateZ(0);
				transform: rotate(-12deg) translate(30px, -100px) translateZ(0);
			}

			100% {
				opacity: 0;
				-webkit-transform: rotate(0deg) translate(0px, -200px) translateZ(0);
				transform: rotate(0deg) translate(0px, -200px) translateZ(0);
			}
		}

		@-webkit-keyframes note-anim

		/* Safari and Chrome */
			{
			0% {
				opacity: 0;
				-webkit-transform: translate(0px, 50px) translateZ(0);
				transform: translate(0px, 50px) translateZ(0);
			}

			30% {
				-webkit-transform: rotate(12deg) translate(-30px, 0px) translateZ(0);
				transform: rotate(12deg) translate(-30px, 0px) translateZ(0);
			}

			45% {
				opacity: 1;
			}

			60% {
				-webkit-transform: rotate(-12deg) translate(30px, -100px) translateZ(0);
				transform: rotate(-12deg) translate(30px, -100px) translateZ(0);
			}

			100% {
				opacity: 0;
				-webkit-transform: rotate(0deg) translate(0px, -200px) translateZ(0);
				transform: rotate(0deg) translate(0px, -200px) translateZ(0);
			}
		}

		@keyframes text-anim {
			0% {
				-webkit-transform: translate(0px, 100px) translateZ(0);
				transform: translate(0px, 100px) translateZ(0);
			}

			60% {
				-webkit-transform: translate(0px, -20px) translateZ(0);
				transform: translate(0px, -20px) translateZ(0);
			}

			80% {
				-webkit-transform: translate(0px, 15px) translateZ(0);
				transform: translate(0px, 15px) translateZ(0);
			}

			100% {
				-webkit-transform: translate(0px, 0px) translateZ(0);
				transform: translate(0px, 0px) translateZ(0);
			}
		}

		@-webkit-keyframes text-anim

		/* Safari and Chrome */
			{
			0% {
				-webkit-transform: translate(0px, 100px) translateZ(0);
				transform: translate(0px, 100px) translateZ(0);
			}

			60% {
				-webkit-transform: translate(0px, -20px) translateZ(0);
				transform: translate(0px, -20px) translateZ(0);
			}

			80% {
				-webkit-transform: translate(0px, 15px) translateZ(0);
				transform: translate(0px, 15px) translateZ(0);
			}

			100% {
				-webkit-transform: translate(0px, 0px) translateZ(0);
				transform: translate(0px, 0px) translateZ(0);
			}
		}

		@keyframes eye-blink {
			0% {
				-webkit-transform: scaleY(1) translateY(0px) translateZ(0);
				transform: scaleY(1) translateY(0px) translateZ(0);
			}

			45% {
				-webkit-transform: scaleY(1) translateY(0px) translateZ(0);
				transform: scaleY(1) translateY(0px) translateZ(0);
			}

			50% {
				-webkit-transform: scaleY(0.1) translateZ(0);
				transform: scaleY(0.1) translateZ(0);
			}

			55% {
				-webkit-transform: scaleY(1) translateY(0px);
				transform: scaleY(1) translateY(0px);
			}

			100% {
				-webkit-transform: scaleY(1) translateY(0px) translateZ(0);
				transform: scaleY(1) translateY(0px) translateZ(0);
			}
		}

		@-webkit-keyframes eye-blink

		/* Safari and Chrome */
			{
			0% {
				-webkit-transform: scaleY(1) translateY(0px) translateZ(0);
				transform: scaleY(1) translateY(0px) translateZ(0);
			}

			45% {
				-webkit-transform: scaleY(1) translateY(0px) translateZ(0);
				transform: scaleY(1) translateY(0px) translateZ(0);
			}

			50% {
				-webkit-transform: scaleY(0.1) translateZ(0);
				transform: scaleY(0.1) translateZ(0);
			}

			55% {
				-webkit-transform: scaleY(1) translateY(0px) translateZ(0);
				transform: scaleY(1) translateY(0px) translateZ(0);
			}

			100% {
				-webkit-transform: scaleY(1) translateY(0px) translateZ(0);
				transform: scaleY(1) translateY(0px) translateZ(0);
			}
		}

		/* female */

		#female-user {
			display: table-cell;
			vertical-align: middle;
			position: absolute;
			margin-top: 160px;
			margin-left: 300px;
			/* z-index: -1; */
		}

		#female-user .background-circle {
			width: 400px;
			height: 400px;
			border-radius: 100%;
			overflow: hidden;
			margin: 0 auto;
			background: #95B3BF;
			position: relative;
			-webkit-mask-image: -webkit-radial-gradient(#BADA55, #BADA55);
			-moz-mask-image: -webkit-radial-gradient(#BADA55, #BADA55);
			-o-mask-image: -webkit-radial-gradient(#BADA55, #BADA55);
			-ms-mask-image: -webkit-radial-gradient(#BADA55, #BADA55);
			animation: grow 0.7s 1 ease;
			-webkit-animation: grow 0.7s 1 ease;
			transform-origin: center;
		}

		#female-user .border-circle {
			width: 399px;
			height: 399px;
			border-radius: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -220px;
			margin-top: -220px;
			border: 10px solid #FCB040;
			-webkit-transform: scale(0);
			transform: scale(0);
			-webkit-transform-origin: center;
			transform-origin: center;
		}

		#female-user .border-circle#one {
			animation: border-pulse 1s 3.1s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: border-pulse 1s 3.1s 1 ease;
			-webkit-animation-fill-mode: forwards;
		}

		#female-user .border-circle#two {
			animation: border-pulse 1s 3.3s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: border-pulse 1s 3.3s 1 ease;
			-webkit-animation-fill-mode: forwards;
		}


		#female-user .body {
			width: 150px;
			height: 600px;
			margin: 0 auto;
			background: #e84393;
			border-radius: 10%;
			position: relative;
			z-index: 2;
			top: 200px;
			animation: body-enter 0.7s 0.2s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: body-enter 0.7s 0.2s 1 ease;
			-webkit-animation-fill-mode: forwards;
			/*  box-shadow: 2px 3px 4px rgba(0,0,0,.4);
*/
		}

		#female-user .head {
			width: 156px;
			height: 220px;
			z-index: 5;
			border-radius: 100%;
			background: #FFE4BE;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -210px;
			margin-left: -80px;
			animation: grow 0.1s 0.4s 1 ease, music-move 1s 3.3s infinite alternate ease-in-out;
			-webkit-animation: grow 0.7s 0.4s 1 ease, music-move 1s 3.3s infinite alternate ease-in-out;
			transform-origin: bottom;
			-webkit-transform-origin: bottom;
		}

		#female-user .hair-main {
			width: 180px;
			height: 0px;
			background: #D8C078;
			border-radius: 54px 54px 0px 0px;
			margin-top: -10px;
			animation: hair-anim 0.7s 0.9s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: hair-anim 0.7s 0.9s 1 ease;
			-webkit-animation-fill-mode: forwards;
			position: relative;
			z-index: 2;
		}

		#female-user .hair-back {
			width: 30px;
			height: 0px;
			background: #D8C078;
			border-radius: 40%;
			right: -90%;
			animation: hairback-anim 0.7s 0.9s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: hairback-anim 0.7s 0.9s 1 ease;
			-webkit-animation-fill-mode: forwards;
			position: relative;
			z-index: 0;
		}

		#female-user .hair-top {
			width: 128px;
			height: 70px;
			opacity: 0;
			border-top-right-radius: 30px;
			background: #D8C078;
			position: relative;
			top: -17px;
			left: 50%;
			transform: translateX(-64px);
			-webkit-transform: translateX(-64px);
			transform-origin: right;
			-webkit-transform-origin: right;
			animation: hair-top-anim 0.7s 1s 1 ease;
			-webkit-animation: hair-top-anim 0.7s 1s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation-fill-mode: forwards;
		}

		#female-user .hair-bottom {
			width: 54px;
			height: 50px;
			opacity: 0;
			border-bottom-left-radius: 25px;
			background: #D8C078;
			position: relative;
			top: -20px;
			left: 50%;
			transform: translateX(-27px);
			-webkit-transform: translateX(-27px);
			transform-origin: left;
			-webkit-transform-origin: left;
			animation: hair-bottom-anim 0.7s 1.4s 1 ease;
			-webkit-animation: hair-bottom-anim 0.7s 1.4s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation-fill-mode: forwards;
		}

		#female-user .sideburn {
			width: 8px;
			height: 25px;
			background: #D8C078;
			position: absolute;
			bottom: -25px;
			opacity: 0;
			animation: sideburn-anim 0.7s 0.9s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: sideburn-anim 0.7s 0.9s 1 ease;
			-webkit-animation-fill-mode: forwards;
		}

		#female-user .sideburn#left {
			left: 12px;
		}

		#female-user .sideburn#right {
			right: 12px;
		}

		#female-user .face {
			width: 120px;
			height: 0px;
			border-radius: 20%;
			background: #FFE4BE;
			position: absolute;
			top: 40px;
			left: 20px;
			animation: hair-anim 0.1s 0.8s 1 linear;
			animation-fill-mode: forwards;
			-webkit-animation: hair-anim 0.1s 0.8s 1 linear;
			-webkit-animation-fill-mode: forwards;
			z-index: 3;
		}

		#female-user .nose {
			width: 10px;
			height: 35px;
			opacity: 1;
			background: #FFE4BE;
			border-top-left-radius: 20px;
			position: absolute;
			left: 60%;
			top: 80px;
			margin-left: -20px;
			animation: shadow-anim 0.7s 3s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: shadow-anim 0.7s 3s 1 ease;
			-webkit-animation-fill-mode: forwards;
			opacity: 0;
			z-index: 5;
		}

		#female-user .ear {
			width: 24px;
			height: 35px;
			background: #FFE4BE;
			border-radius: 12px;
			position: absolute;
			top: 116px;
			z-index: 3;
			animation: grow 0.7s 1.3s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: grow 0.7s 1.3s 1 ease;
			-webkit-animation-fill-mode: forwards;
			-webkit-transform: scale(0);
			transform: scale(0);
		}

		#female-user .mouth {
			width: 56px;
			height: 23px;
			border-radius: 0 0 33px 33px;
			background: white;
			position: absolute;
			top: 130px;
			left: 55%;
			margin-left: -33px;
			animation: grow 0.7s 2.6s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: grow 0.7s 2.6s 1 ease;
			-webkit-animation-fill-mode: forwards;
			-webkit-transform: scale(0);
			transform: scale(0);
		}

		#female-user .ear#left {
			left: -12px;
		}

		#female-user .ear#right {
			right: -12px;
		}

		#female-user .eye-shadow {
			width: 40px;
			height: 10px;
			border-radius: 0 0 15px 15px;
			background: rgba(149, 36, 0, 0);
			position: absolute;
			top: 70px;
			animation: grow 0.7s 2s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: grow 0.7s 2s 1 ease;
			-webkit-animation-fill-mode: forwards;
			-webkit-transform: scale(0);
			transform: scale(0);
		}

		#female-user .eye-shadow#left {
			left: 0%;
			z-index: 0;
		}

		#female-user .eye-shadow#right {
			right: 10%;

		}

		#female-user .eyebrow {
			width: 40px;
			height: 2px;
			background: #D8C078;
			position: absolute;
			top: -35px;
			left: 50%;
			margin-left: -20px;
			opacity: 0;
			-webkit-backface-visibility: hidden;
		}

		#female-user .eye-shadow#left .eyebrow {
			animation: eyebrow-anim-left 0.7s 2.2s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: eyebrow-anim-left 0.7s 2.2s 1 ease;
			-webkit-animation-fill-mode: forwards;
		}

		#female-user .eye-shadow#right .eyebrow {
			animation: eyebrow-anim-right 0.7s 2.2s 1 ease, eyebrow-raise 2s 6.6s infinite alternate ease-in-out;
			animation-fill-mode: forwards;
			-webkit-animation: eyebrow-anim-right 0.7s 2.2s 1 ease, eyebrow-raise 2s 6.6s infinite alternate ease-in-out;
			-webkit-animation-fill-mode: forwards;
		}

		#female-user .eye-one {
			overflow: hidden;
			width: 40px;
			height: 20px;
			border-radius: 100%;
			background: white;
			position: relative;
			top: -18px;
			padding: 1px;

			animation: grow 0.7s 2.2s 1 ease, eye-blink 4s 4.4s infinite linear;
			animation-fill-mode: forwards;
			-webkit-animation: grow 0.7s 2.2s 1 ease, eye-blink 4s 4.4s infinite linear;
			-webkit-animation-fill-mode: forwards;
			-webkit-transform: scale(0);
			transform: scale(0);
			-webkit-transform-origin: bottom;
			transform-origin: bottom;

		}

		#female-user .eye-two {
			overflow: hidden;
			width: 40px;
			height: 20px;
			border-radius: 100%;
			background: white;
			position: relative;
			top: -18px;
			padding: 1px;

			animation: grow 0.7s 2.2s 1 ease, eye-blink 4s 4.4s infinite linear;
			animation-fill-mode: forwards;
			-webkit-animation: grow 0.7s 2.2s 1 ease, eye-blink 4s 4.4s infinite linear;
			-webkit-animation-fill-mode: forwards;
			-webkit-transform: scale(0);
			transform: scale(0);
			-webkit-transform-origin: bottom;
			transform-origin: bottom;

		}

		#female-user .iris {
			width: 20px;
			height: 20px;
			border-radius: 100%;
			background: skyblue;
			border: 1px solid rgba(0, 0, 0, .2);
		}

		#female-user .shadow-wrapper {
			width: 98px;
			height: 260px;
			position: absolute;
			left: -20px;
			bottom: -84px;
			overflow: hidden;
		}

		#female-user .shadow {
			width: 98px;
			height: 190px;
			border-radius: 20%;
			background: rgba(149, 36, 0, 0.05);
			position: absolute;
			z-index: 4;
			opacity: 0;
			animation: shadow-anim 1s 2.8s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: shadow-anim 1s 2.8s 1 ease;
			-webkit-animation-fill-mode: forwards;
		}

		#female-user .triangle-light {
			width: 400px;
			height: 600px;
			background: #FFFFFF;
			opacity: 0.2;
			position: absolute;
			right: -65%;
			animation: triangle-light-anim 1s 2.8s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: triangle-light-anim 1s 2.8s 1 ease;
			-webkit-animation-fill-mode: forwards;
			-webkit-transform: translate(200px, 0px);
			transform: translate(200px, 0px);
		}

		#female-user .triangle-dark {
			width: 400px;
			height: 600px;
			background: #000000;
			opacity: 0.2;
			position: absolute;
			left: -60%;
			z-index: -1;
			top: 30%;
			animation: triangle-dark-anim 1s 3s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: triangle-dark-anim 1s 3s 1 ease;
			-webkit-animation-fill-mode: forwards;
			-webkit-transform: translate(-200px, 0px);
			transform: translate(-200px, 0px);
		}

		#female-user .music-note {
			position: absolute;
			font-size: 150px;
			color: #FCB040;
			width: 1px;
			left: 50%;
			opacity: 0;
		}

		#female-user.music-note#one {
			margin-left: -250px;
			top: 50%;
			animation: note-anim 2s 3.5s infinite ease;
			animation-fill-mode: forwards;
			-webkit-animation: note-anim 2s 3.5s infinite ease;
			-webkit-animation-fill-mode: forwards;
		}

		#female-user .music-note#two {
			margin-left: 150px;
			top: 30%;
			animation: note-anim 2s 4.3s infinite ease;
			animation-fill-mode: forwards;
			-webkit-animation: note-anim 2s 4.3s infinite ease;
			-webkit-animation-fill-mode: forwards;
		}

		#female-user .shirt-text {
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			color: white;
			position: relative;
			top: -300px;
			z-index: 10;
			margin-left: 100px;
			font-size: 40px;
			display: inline-block;
			-webkit-text-stroke: 2px;
			-webkit-transform: translate(0px, 100px);
			transform: translate(0px, 100px);
			animation-fill-mode: forwards !important;
			-webkit-animation-fill-mode: forwards !important;
		}

		#female-user .shirt-text:nth-of-type(1) {
			animation: text-anim 0.7s 3s 1 ease;
			-webkit-animation: text-anim 0.7s 3s 1 ease;
		}

		#female-user .shirt-text:nth-of-type(2) {
			animation: text-anim 0.7s 3.1s 1 ease;
			-webkit-animation: text-anim 0.7s 3.1s 1 ease;
		}

		#female-user .shirt-text:nth-of-type(3) {
			color: red;

			animation: text-anim 0.7s 3.2s 1 ease;
			-webkit-animation: text-anim 0.7s 3.2s 1 ease;
		}

		#female-user .shirt-text:nth-of-type(4) {
			animation: text-anim 0.7s 3.3s 1 ease;
			-webkit-animation: text-anim 0.7s 3.3s 1 ease;
		}

		#female-user .shirt-text:nth-of-type(5) {
			animation: text-anim 0.7s 3.4s 1 ease;
			-webkit-animation: text-anim 0.7s 3.4s 1 ease;
		}

		#female-user .shirt-text:nth-of-type(6) {
			animation: text-anim 0.7s 3.4s 1 ease;
			-webkit-animation: text-anim 0.7s 3.4s 1 ease;
		}

		#female-user .shirt-text:nth-of-type(7) {
			animation: text-anim 0.7s 3.4s 1 ease;
			-webkit-animation: text-anim 0.7s 3.4s 1 ease;
		}

		#female-user .shirt-text:nth-of-type(8) {
			animation: text-anim 0.7s 3.4s 1 ease;
			-webkit-animation: text-anim 0.7s 3.4s 1 ease;
		}

		#female-user .dempads {
			position: relative;
			width: 200px;
			height: 50px;
			z-index: 2;
			margin: 0 auto;
			border-radius: 20%;
			background: black;
			top: -200px;
			animation: body-enter 0.7s 0.2s 1 ease;
			animation-fill-mode: forwards;
			-webkit-animation: body-enter 0.7s 0.2s 1 ease;
			-webkit-animation-fill-mode: forwards;

		}

		#female-user .demarms-left {
			position: absolute;
			left: -50%;

			background: #FFE4BE;
			width: 100px;
			height: 40px;
			z-index: -200;
			/*border: 1px black solid;
*/
			border-radius: 20%;


		}

		#female-user .demarms-right {
			position: absolute;
			right: -50%;
			background: #FFE4BE;
			width: 100px;
			height: 40px;
			z-index: -200;
			/*border: 1px black solid;
*/
			border-radius: 20%;
		}


		@keyframes grow {
			0% {
				-webkit-transform: scale(0) translateZ(0);
				transform: scale(0) translateZ(0);
			}

			60% {
				-webkit-transform: scale(1.15) translateZ(0);
				transform: scale(1.15) translateZ(0);
			}

			80% {
				-webkit-transform: scale(0.95) translateZ(0);
				transform: scale(0.95) translateZ(0);
			}

			100% {
				-webkit-transform: scale(1) translateZ(0);
				transform: scale(1) translateZ(0);
			}
		}

		@-webkit-keyframes grow

		/* Safari and Chrome */
			{
			0% {
				-webkit-transform: scale(0) translateZ(0);
				transform: scale(0) translateZ(0);
			}

			60% {
				-webkit-transform: scale(1.15) translateZ(0);
				transform: scale(1.15) translateZ(0);
			}

			80% {
				-webkit-transform: scale(0.95) translateZ(0);
				transform: scale(0.95) translateZ(0);
			}

			100% {
				-webkit-transform: scale(1) translateZ(0);
				transform: scale(1) translateZ(0);
			}
		}

		@keyframes body-enter {
			0% {
				-webkit-transform: translateY(200px) translateZ(0);
				transform: translateY(200px) translateZ(0);
			}

			60% {
				-webkit-transform: translateY(-20px) translateZ(0);
				transform: translateY(-20px) translateZ(0);
			}

			80% {
				-webkit-transform: translateY(30px) translateZ(0);
				transform: translateY(30px) translateZ(0);
			}

			100% {
				-webkit-transform: translateY(0px) translateZ(0);
				transform: translateY(0px) translateZ(0);
			}
		}

		@-webkit-keyframes body-enter

		/* Safari and Chrome */
			{
			0% {
				-webkit-transform: translateY(200px) translateZ(0);
				transform: translateY(200px) translateZ(0);
			}

			60% {
				-webkit-transform: translateY(-20px) translateZ(0);
				transform: translateY(-20px) translateZ(0);
			}

			80% {
				-webkit-transform: translateY(30px) translateZ(0);
				transform: translateY(30px) translateZ(0);
			}

			100% {
				-webkit-transform: translateY(0px) translateZ(0);
				transform: translateY(0px) translateZ(0);
			}
		}

		@keyframes hairback-anim {
			0% {
				height: 0px;
				-webkit-transform: translateY(137px) translateZ(0);
				transform: translateY(137px) translateZ(0);
				z-index: 0;
			}

			100% {
				height: 237px;
				-webkit-transform: translateY(0px) translateZ(0);
				transform: translateY(0px) translateZ(0);
				z-index: 0;
			}
		}

		@-webkit-keyframes hairback-anim

		/* Safari and Chrome */
			{
			0% {
				height: 0px;
				-webkit-transform: translateY(137px) translateZ(0);
				transform: translateY(137px) translateZ(0);
			}

			100% {
				height: 237px;
				-webkit-transform: translateY(0px) translateZ(0);
				transform: translateY(0px) translateZ(0);
			}
		}

		@keyframes hair-anim {
			0% {
				height: 0px;
				-webkit-transform: translateY(137px) translateZ(0);
				transform: translateY(137px) translateZ(0);
			}

			100% {
				height: 137px;
				-webkit-transform: translateY(0px) translateZ(0);
				transform: translateY(0px) translateZ(0);
			}
		}

		@-webkit-keyframes hair-anim

		/* Safari and Chrome */
			{
			0% {
				height: 0px;
				-webkit-transform: translateY(137px) translateZ(0);
				transform: translateY(137px) translateZ(0);
			}

			100% {
				height: 137px;
				-webkit-transform: translateY(0px) translateZ(0);
				transform: translateY(0px) translateZ(0);
			}
		}

		@keyframes sideburn-anim {
			0% {
				opacity: 0;
				-webkit-transform: translateY(-25px) translateZ(0);
				transform: translateY(-25px) translateZ(0);
			}

			100% {
				opacity: 1;
				-webkit-transform: translateY(0px) translateZ(0);
				transform: translateY(0px) translateZ(0);
			}
		}

		@-webkit-keyframes sideburn-anim

		/* Safari and Chrome */
			{
			0% {
				opacity: 0;
				-webkit-transform: translateY(-25px) translateZ(0);
				transform: translateY(-25px) translateZ(0);
			}

			100% {
				opacity: 1;
				-webkit-transform: translateY(0px) translateZ(0);
				transform: translateY(0px) translateZ(0);
			}
		}

		@keyframes hair-top-anim {
			0% {
				opacity: 0;
				-webkit-transform: translate(-64px, 30px) translateZ(0);
				transform: translate(-64px, 30px) translateZ(0);
			}

			60% {
				opacity: 1;
				-webkit-transform: rotate(0deg) translate(-64px, 30px) translateZ(0);
				transform: rotate(0deg) translate(-64px, 30px) translateZ(0);
			}

			80% {
				opacity: 1;
				-webkit-transform: rotate(10deg) translate(-64px, -5px) translateZ(0);
				transform: rotate(10deg) translate(-64px, -5px) translateZ(0);
			}

			100% {
				opacity: 1;
				-webkit-transform: rotate(0deg) translate(-64px, 0px) translateZ(0);
				transform: rotate(0deg) translate(-64px, 0px) translateZ(0);
			}
		}

		@-webkit-keyframes hair-top-anim

		/* Safari and Chrome */
			{
			0% {
				opacity: 0;
				-webkit-transform: translate(-64px, 30px) translateZ(0);
				transform: translate(-64px, 30px) translateZ(0);
			}

			60% {
				opacity: 1;
				-webkit-transform: rotate(0deg) translate(-64px, 30px) translateZ(0);
				transform: rotate(0deg) translate(-64px, 30px) translateZ(0);
			}

			80% {
				opacity: 1;
				-webkit-transform: rotate(10deg) translate(-64px, -5px) translateZ(0);
				transform: rotate(10deg) translate(-64px, -5px) translateZ(0);
			}

			100% {
				opacity: 1;
				-webkit-transform: rotate(0deg) translate(-64px, 0px) translateZ(0);
				transform: rotate(0deg) translate(-64px, 0px) translateZ(0);
			}
		}

		@keyframes hair-bottom-anim {
			0% {
				opacity: 0;
				-webkit-transform: translate(-27px, -40px) translateZ(0);
				transform: translate(-27px, -40px) translateZ(0);
			}

			60% {
				opacity: 1;
				-webkit-transform: rotate(0deg) translate(-27px, -40px) translateZ(0);
				transform: rotate(0deg) translate(-27px, -40px) translateZ(0);
			}

			80% {
				opacity: 1;
				-webkit-transform: rotate(10deg) translate(-27px, 5px) translateZ(0);
				transform: rotate(10deg) translate(-27px, 5px) translateZ(0);
			}

			100% {
				opacity: 1;
				-webkit-transform: rotate(0deg) translate(-27px, 0px) translateZ(0);
				transform: rotate(0deg) translate(-27px, 0px) translateZ(0);
			}
		}

		@-webkit-keyframes hair-bottom-anim

		/* Safari and Chrome */
			{
			0% {
				opacity: 0;
				-webkit-transform: translate(-27px, -40px) translateZ(0);
				transform: translate(-27px, -40px) translateZ(0);
			}

			60% {
				opacity: 1;
				-webkit-transform: rotate(0deg) translate(-27px, -40px) translateZ(0);
				transform: rotate(0deg) translate(-27px, -40px) translateZ(0);
			}

			80% {
				opacity: 1;
				-webkit-transform: rotate(10deg) translate(-27px, 5px) translateZ(0);
				transform: rotate(10deg) translate(-27px, 5px) translateZ(0);
			}

			100% {
				opacity: 1;
				-webkit-transform: rotate(0deg) translate(-27px, 0px) translateZ(0);
				transform: rotate(0deg) translate(-27px, 0px) translateZ(0);
			}
		}

		@keyframes music-move {
			0% {
				-webkit-transform: rotate(0deg) translateZ(0);
				transform: rotate(0deg) translateZ(0);
			}

			33% {
				-webkit-transform: rotate(-5deg) translateZ(0);
				transform: rotate(-5deg) translateZ(0);
			}

			66% {
				-webkit-transform: rotate(5deg) translateZ(0);
				transform: rotate(5deg) translateZ(0);
			}

			100% {
				-webkit-transform: rotate(0deg) translateZ(0);
				transform: rotate(0deg) translateZ(0);
			}
		}

		@-webkit-keyframes music-move

		/* Safari and Chrome */
			{
			0% {
				-webkit-transform: rotate(0deg) translateZ(0);
				transform: rotate(0deg) translateZ(0);
			}

			33% {
				-webkit-transform: rotate(-5deg) translateZ(0);
				transform: rotate(-5deg) translateZ(0);
			}

			66% {
				-webkit-transform: rotate(5deg) translateZ(0);
				transform: rotate(5deg) translateZ(0);
			}

			100% {
				-webkit-transform: rotate(0deg) translateZ(0);
				transform: rotate(0deg) translateZ(0);
			}
		}

		@keyframes eyebrow-anim-right {
			0% {
				opacity: 0;
				-webkit-transform: translateY(-25px) translateZ(0);
				transform: translateY(-25px) translateZ(0);
			}

			70% {
				opacity: 1;
				-webkit-transform: translateY(5px) translateZ(0);
				transform: translateY(5px) translateZ(0);
			}

			100% {
				opacity: 1;
				-webkit-transform: rotate(9deg) translateY(0px) translateZ(0);
				transform: rotate(9deg) translateY(0px) translateZ(0);
			}
		}

		@-webkit-keyframes eyebrow-anim-right

		/* Safari and Chrome */
			{
			0% {
				opacity: 0;
				-webkit-transform: translateY(-25px) translateZ(0);
				transform: translateY(-25px) translateZ(0);
			}

			70% {
				opacity: 1;
				-webkit-transform: translateY(5px) translateZ(0);
				transform: translateY(5px) translateZ(0);
			}

			100% {
				opacity: 1;
				-webkit-transform: rotate(9deg) translateY(0px) translateZ(0);
				transform: rotate(9deg) translateY(0px) translateZ(0);
			}
		}

		@keyframes eyebrow-raise {
			0% {
				top: -35px;
			}

			80% {
				top: -35px;

			}

			100% {
				top: -45px;
			}
		}

		@-webkit-keyframes eyebrow-raise

		/* Safari and Chrome */
			{
			0% {
				top: -35px;
			}

			80% {
				top: -35px;

			}

			100% {
				top: -45px;
			}
		}

		@keyframes eyebrow-anim-left {
			0% {
				opacity: 0;
				-webkit-transform: translateY(-25px) translateZ(0);
				transform: translateY(-25px) translateZ(0);
			}

			70% {
				opacity: 1;
				-webkit-transform: translateY(5px) translateZ(0);
				transform: translateY(5px);
			}

			100% {
				opacity: 1;
				-webkit-transform: translateY(0px) translateZ(0);
				transform: translateY(0px) translateZ(0);
			}
		}

		@-webkit-keyframes eyebrow-anim-left

		/* Safari and Chrome */
			{
			0% {
				opacity: 0;
				-webkit-transform: translateY(-25px) translateZ(0);
				transform: translateY(-25px) translateZ(0);
			}

			70% {
				opacity: 1;
				-webkit-transform: translateY(5px) translateZ(0);
				transform: translateY(5px) translateZ(0);
			}

			100% {
				opacity: 1;
				-webkit-transform: translateY(0px) translateZ(0);
				transform: translateY(0px) translateZ(0);
			}
		}

		@keyframes border-pulse {
			0% {
				-webkit-transform: scale(0) translateZ(0);
				transform: scale(0) translateZ(0);
				border-width: 20px;
			}

			40% {
				-webkit-transform: scale(1) translateZ(0);
				transform: scale(1) translateZ(0);
				border-width: 20px;
				margin-left: -220px;
				margin-top: -220px;
			}

			100% {
				-webkit-transform: scale(1.5) translateZ(0);
				transform: scale(1.5) translateZ(0);
				border-width: 0px;
				border-style: double;
				margin-left: -200px;
				margin-top: -200px;
			}
		}

		@-webkit-keyframes border-pulse

		/* Safari and Chrome */
			{
			0% {
				-webkit-transform: scale(0) translateZ(0);
				transform: scale(0) translateZ(0);
				border-width: 20px;
			}

			40% {
				-webkit-transform: scale(1) translateZ(0);
				transform: scale(1) translateZ(0);
				border-width: 20px;
				margin-left: -220px;
				margin-top: -220px;
			}

			100% {
				-webkit-transform: scale(1.5) translateZ(0);
				transform: scale(1.5) translateZ(0);
				border-width: 0px;
				border-style: double;
				margin-left: -200px;
				margin-top: -200px;
			}
		}

		@keyframes shadow-anim {
			0% {
				opacity: 0;
				-webkit-transform: translate(98px, 0px) translateZ(0);
				transform: translate(98px, 0px) translateZ(0);
			}

			50% {
				opacity: 0;
			}

			100% {
				opacity: 1;
				-webkit-transform: translate(0px, 0px) translateZ(0);
				transform: translate(0px, 0px) translateZ(0);
			}
		}

		@-webkit-keyframes shadow-anim

		/* Safari and Chrome */
			{
			0% {
				opacity: 0;
				-webkit-transform: translate(98px, 0px) translateZ(0);
				transform: translate(98px, 0px) translateZ(0);
			}

			50% {
				opacity: 0;
			}

			100% {
				opacity: 1;
				-webkit-transform: translate(0px, 0px) translateZ(0);
				transform: translate(0px, 0px) translateZ(0);
			}
		}

		@keyframes triangle-light-anim {
			0% {
				-webkit-transform: translate(200px, 0px) translateZ(0);
				transform: translate(200px, 0px) translateZ(0);
			}

			100% {
				-webkit-transform: rotate(45deg) translate(0px, 0px) translateZ(0);
				transform: rotate(45deg) translate(0px, 0px) translateZ(0);
			}
		}

		@-webkit-keyframes triangle-light-anim

		/* Safari and Chrome */
			{
			0% {
				-webkit-transform: translate(200px, 0px) translateZ(0);
				transform: translate(200px, 0px) translateZ(0);
			}

			100% {
				-webkit-transform: rotate(45deg) translate(0px, 0px) translateZ(0);
				transform: rotate(45deg) translate(0px, 0px) translateZ(0);
			}
		}

		@keyframes triangle-dark-anim {
			0% {
				-webkit-transform: translate(-200px, 0px) translateZ(0);
				transform: translate(-200px, 0px) translateZ(0);
			}

			100% {
				-webkit-transform: rotate(-45deg) translate(0px, 0px) translateZ(0);
				transform: rotate(-45deg) translate(0px, 0px) translateZ(0);
			}
		}

		@-webkit-keyframes triangle-dark-anim

		/* Safari and Chrome */
			{
			0% {
				-webkit-transform: translate(-200px, 0px) translateZ(0);
				transform: translate(-200px, 0px) translateZ(0);
			}

			100% {
				-webkit-transform: rotate(-45deg) translate(0px, 0px) translateZ(0);
				transform: rotate(-45deg) translate(0px, 0px) translateZ(0);
			}
		}

		@keyframes note-anim {
			0% {
				opacity: 0;
				-webkit-transform: translate(0px, 50px) translateZ(0);
				transform: translate(0px, 50px) translateZ(0);
			}

			30% {
				-webkit-transform: rotate(12deg) translate(-30px, 0px) translateZ(0);
				transform: rotate(12deg) translate(-30px, 0px) translateZ(0);
			}

			45% {
				opacity: 1;
			}

			60% {
				-webkit-transform: rotate(-12deg) translate(30px, -100px) translateZ(0);
				transform: rotate(-12deg) translate(30px, -100px) translateZ(0);
			}

			100% {
				opacity: 0;
				-webkit-transform: rotate(0deg) translate(0px, -200px) translateZ(0);
				transform: rotate(0deg) translate(0px, -200px) translateZ(0);
			}
		}

		@-webkit-keyframes note-anim

		/* Safari and Chrome */
			{
			0% {
				opacity: 0;
				-webkit-transform: translate(0px, 50px) translateZ(0);
				transform: translate(0px, 50px) translateZ(0);
			}

			30% {
				-webkit-transform: rotate(12deg) translate(-30px, 0px) translateZ(0);
				transform: rotate(12deg) translate(-30px, 0px) translateZ(0);
			}

			45% {
				opacity: 1;
			}

			60% {
				-webkit-transform: rotate(-12deg) translate(30px, -100px) translateZ(0);
				transform: rotate(-12deg) translate(30px, -100px) translateZ(0);
			}

			100% {
				opacity: 0;
				-webkit-transform: rotate(0deg) translate(0px, -200px) translateZ(0);
				transform: rotate(0deg) translate(0px, -200px) translateZ(0);
			}
		}

		@keyframes text-anim {
			0% {
				-webkit-transform: translate(0px, 100px) translateZ(0);
				transform: translate(0px, 100px) translateZ(0);
			}

			60% {
				-webkit-transform: translate(0px, -20px) translateZ(0);
				transform: translate(0px, -20px) translateZ(0);
			}

			80% {
				-webkit-transform: translate(0px, 15px) translateZ(0);
				transform: translate(0px, 15px) translateZ(0);
			}

			100% {
				-webkit-transform: translate(0px, 0px) translateZ(0);
				transform: translate(0px, 0px) translateZ(0);
			}
		}

		@-webkit-keyframes text-anim

		/* Safari and Chrome */
			{
			0% {
				-webkit-transform: translate(0px, 100px) translateZ(0);
				transform: translate(0px, 100px) translateZ(0);
			}

			60% {
				-webkit-transform: translate(0px, -20px) translateZ(0);
				transform: translate(0px, -20px) translateZ(0);
			}

			80% {
				-webkit-transform: translate(0px, 15px) translateZ(0);
				transform: translate(0px, 15px) translateZ(0);
			}

			100% {
				-webkit-transform: translate(0px, 0px) translateZ(0);
				transform: translate(0px, 0px) translateZ(0);
			}
		}

		@keyframes eye-blink {
			0% {
				-webkit-transform: scaleY(1) translateY(0px) translateZ(0);
				transform: scaleY(1) translateY(0px) translateZ(0);
			}

			45% {
				-webkit-transform: scaleY(1) translateY(0px) translateZ(0);
				transform: scaleY(1) translateY(0px) translateZ(0);
			}

			50% {
				-webkit-transform: scaleY(0.1) translateZ(0);
				transform: scaleY(0.1) translateZ(0);
			}

			55% {
				-webkit-transform: scaleY(1) translateY(0px);
				transform: scaleY(1) translateY(0px);
			}

			100% {
				-webkit-transform: scaleY(1) translateY(0px) translateZ(0);
				transform: scaleY(1) translateY(0px) translateZ(0);
			}
		}

		@-webkit-keyframes eye-blink

		/* Safari and Chrome */
			{
			0% {
				-webkit-transform: scaleY(1) translateY(0px) translateZ(0);
				transform: scaleY(1) translateY(0px) translateZ(0);
			}

			45% {
				-webkit-transform: scaleY(1) translateY(0px) translateZ(0);
				transform: scaleY(1) translateY(0px) translateZ(0);
			}

			50% {
				-webkit-transform: scaleY(0.1) translateZ(0);
				transform: scaleY(0.1) translateZ(0);
			}

			55% {
				-webkit-transform: scaleY(1) translateY(0px) translateZ(0);
				transform: scaleY(1) translateY(0px) translateZ(0);
			}

			100% {
				-webkit-transform: scaleY(1) translateY(0px) translateZ(0);
				transform: scaleY(1) translateY(0px) translateZ(0);
			}
		}
	</style>


</head>

<body onload="load()">
		<div class="title" style="position: absolute;">
				<a href="https://cooltext.com"><img src="https://images.cooltext.com/5345510.png" width="246" height="88"
						alt="Beatsy" /></a>
				<p style="font-size: 18px;margin-left:25px;color: rgb(255, 242, 242);margin-top:-14px;position: relative;">
					Digital music service</p>
			</div>
	<!-- <h4 style="font-family: Arial, Helvetica, sans-serif;position: absolute;margin-left: 930px;margin-top: 400px;">To change password <a href="./forget">click here</a></h4> -->
	<div><span
			style="font-family: Arial, Helvetica, sans-serif;position: absolute;margin-left: 930px;margin-top: 600px;">Change
			password</span><a
			style="font-family: Arial, Helvetica, sans-serif;position: absolute;margin-left: 1064px;margin-top: 600px; background-color: white;color: red;"
			href="/forgetpass">click here</a>
		<nav id="primary_nav_wrap">
			<ul>
				<li class="current-menu-item"><a href="./home">Home</a></li>
				<li class="current-menu-item"><a href="../client/about.html">About</a></li>
				<li><a href="#">My Account</a>
					<ul class="down" style="width:130px;margin-top:0px;">
						<li><a class="down" href="/profile">My Profile</a></li>
						<li><a class="down" href="/logout">Logout</a></li>
					</ul>
		</nav>
		<!-- <div style="position: absolute;">

			<img class="box bounce-3" style="width: 600px;margin-top: 15%;
							margin-left: 30%;" src="./signup.png" alt="">

		</div> -->
		<h1
			style="position: absolute;width: 600px;margin-top: 26%;
		margin-left: 18%;font-family: Arial, Helvetica, sans-serif;font-size: 90px;text-shadow: 2px 2px #000000;z-index: 10;">
			Hello
		</h1>

		<!-- profile animation -->
		<div id="user">
			<div class="border-circle" id="one"></div>
			<div class="border-circle" id="two"></div>
			<div class="background-circle">
				<div class="triangle-light"></div>
				<div class="body"></div>
				<span class="shirt-text"><%= name %> </span>
				<div class="triangle-dark"></div>
			</div>
			<div class="head">
				<div class="ear" id="left"></div>
				<div class="ear" id="right"></div>
				<div class="hair-main">
					<div class="sideburn" id="left"></div>
					<div class="sideburn" id="right"></div>
					<div class="hair-top"></div>
				</div>
				<div class="face">
					<div class="hair-bottom"></div>
					<div class="nose"></div>
					<div class="eye-shadow" id="left">
						<div class="eyebrow"></div>
						<div class="eye"></div>
					</div>
					<div class="eye-shadow" id="right">
						<div class="eyebrow"></div>
						<div class="eye"></div>
					</div>
					<div class="mouth"></div>
					<div class="shadow-wrapper">
						<div class="shadow"></div>
					</div>
				</div>
			</div>
			<span class="music-note" id="one">&#9835;</span>
			<span class="music-note" id="two">&#9834;</span>
		</div>

		<!-- female from here -->
		<div id="female-user">
			<div class="border-circle" id="one"></div>
			<div class="border-circle" id="two"></div>
			<div class="background-circle">
				<div class="triangle-light"></div>
				<div class="body"></div>
				<span class="shirt-text"><%= name %> </span>
				<div class="triangle-dark"></div>
			</div>
			<div class="dempads">
				<div class="demarms-left">
				</div>
				<div class=" demarms-right">


				</div>
			</div>
			<div class="head">

				<div class="ear" id="left"></div>
				<div class="ear" id="right"></div>
				<div class="hair-main">
					<div class="sideburn" id="left"></div>
					<div class="sideburn" id="right"></div>
					<div class="hair-top"></div>
					<div class="hair-back"></div>
				</div>
				<div class="face">

					<div class="hair-bottom"></div>
					<div class="nose"></div>
					<div class="eye-shadow" id="left">
						<div class="eyebrow"></div>
						<div class="eye-one">
							<div class="iris"></div>
						</div>
					</div>
					<div class="eye-shadow" id="right">
						<div class="eyebrow"></div>
						<div class="eye-two">
							<div class="iris"></div>
						</div>
					</div>
					<div class="mouth"></div>
					<div class="shadow-wrapper">
						<div class="shadow"></div>
					</div>
				</div>
			</div>
			<span class="music-note" id="one">&#9835;</span>
			<span class="music-note" id="two">&#9834;</span>


		</div>



		<!-- ends here user animation -->
		<div class="wrapper" style="z-index: -10;">
			<div class="container">

				<div class="col-md-4 col-md-offset-4">
					<div>
						<h1 style="font-family: Arial, Helvetica, sans-serif;">Profile Detail</h1>
					</div>
					<div>
						<center>
							<table class="rwd-table">
								<tr>
									<td>Name : </td>
									<td><%= name %></td>
								</tr>
								<tr>
									<td>Email : </td>
									<td><%= email %></td>
								</tr>
								<tr>
									<td>Gender : </td>
									<td id="gend"><%= gender %></td>
								</tr>

							</table>

							<form id="form" method="post"
								style="background-color: #34495E;border-radius: 5px;margin-top:-15px">
								<p style="background-color: black;" id="demo"></p>
								<h2>Update playlist</h2>
								<select name="playlist">
										<option value="AP">Choose</option>
										<option value="AP">All playlist</option>
										<option name="E">English only</option>
										<option value="H">Hindi only</option>
										<option value="M">Malayalam only</option>
										<option value="K">Kannada only</option>
										<option value="EH">English, Hindi</option>
										<option value="EM">English, Malayalam</option>
										<option value="EK">English, Kannada</option>
										<option value="HM">Hindi, Malayalam</option>
										<option value="HK">Hindi, Kannada</option>
										<option value="KM">Kannada, Malayalam</option>
										<option value="EKM">English, Hindi, Kannada</option>
										<option value="KHM">English , Hindi, Malayalam</option>
										<option value="EKM">Hindi, Kannada, Malayalam</option>
										<option value="HMK">Hindi, Malayalam, Kannada</option>
									  </select>
								<input onclick="refresh()" type="submit" value="Update" id="button"
									style=" width:90px;">
								<script>
									function refresh() {
										window.alert("playlist updated");
				
									}
								</script>
							</form>
						</center>


					</div>


				</div>

			</div>



			<ul class="bg-bubbles">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>


			</ul>
		</div>

	</div>
	<div class="footer"><strong>Beatsy</strong></div>

	<script>
		function gender() {
			var gender = "<%= gender %>";
			var res = gender.toUpperCase();
			name.toUpperCase;
			console.log(res);
			if (res == "MALE") {
				document.getElementById("female-user").style.display = "none";
			}
			else if (res == "FEMALE") {
				document.getElementById("user").style.display = "none";
			}


		}

		function playlist() {

			var list = "<%= playlist %>";
			if(list == 'E' || list == "English only"){
				document.getElementById("demo").innerHTML = "Current Playlist : English";
				
			}
			else if(list == 'H'){
                document.getElementById("demo").innerHTML = "Current Playlist : Hindi";
            }
            else if(list == 'M'){
                document.getElementById("demo").innerHTML = "Current Playlist : Malayalam";
            }
            else if(list == 'K'){
                document.getElementById("demo").innerHTML = "Current Playlist : Kannada";
            }
            else if(list == 'EM'){
				document.getElementById("demo").innerHTML = "Current Playlist : English & Malayalam ";
            }
            else if(list == 'EH'){
     
				document.getElementById("demo").innerHTML = "Current Playlist : English & Hindi";
            }
            else if(list == 'EK'){
                document.getElementById("demo").innerHTML = "Current Playlist : English & Kannada";
            }
            else if(list == 'HM'){
           
                document.getElementById("demo").innerHTML = "Current Playlist : Hindi & Malayalam";
            }
            else if(list == 'HK'){
                document.getElementById("demo").innerHTML = "Current Playlist : Hindi & Kannada";
            }
            else if(list == 'Mk'){
                document.getElementById("demo").innerHTML = "Current Playlist : Malayalam & Kannada";
            }
            else if(list == 'EHM'){
    
				document.getElementById("demo").innerHTML = "Current Playlist : English,Hindi, Malayalam";
            }
            else if(list == 'EHK'){
				document.getElementById("demo").innerHTML = "Current Playlist : English,Hindi, Kannada";
            }
            else if(list == 'EKM'){
				document.getElementById("demo").innerHTML = "Current Playlist : English,Kannada, Malayalam";
            }
            else if(list == 'HMK'){
				document.getElementById("demo").innerHTML = "Current Playlist : Hindi, Malayalam, Kannada";
            }
			else if(list == 'AP'){
				document.getElementById("demo").innerHTML = "Current Playlist : All playlist included";
            }

			
		}

		function load() {
			gender();
			playlist();
		}

	</script>



	<!-- <div id="LangTable"><a href="./client/loading.html" id="aa"></a> -->
	</div>
</body>


<script type="text/javascript">
	$(document).ready(function () {

		$("#form").submit(function (event) {

			event.preventDefault();

			$.ajax({
				type: 'POST',
				url: '/plays',
				data: $('#form').serialize(),
				dataType: "json",
				success: function (response) {
					//alert("a");
					//console.log(response.Success);
					$('#form')[0].reset();
					//alert("abc");
					document.getElementById("check").innerHTML = response.Success;

					setTimeout(function () {
						document.getElementById("check").innerHTML = "";
					}, 3000);
					if (response.Success == "Password changed!") {
						document.getElementById("aa").click();
					};
				},
				error: function () {
				}
			})
		});

	});
</script>

</html>