<!DOCTYPE html>
<html>

<head>
	<title>Forget</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./client/css/login.css">
	<style>
		.box {
			align-self: flex-end;
			animation-duration: 2.5s;
			animation-iteration-count: infinite;
			position: relative;

			margin: 0 auto 0 auto;
			transform-origin: bottom;

		}

		.bounce-3 {
			animation-name: bounce-3;
			animation-timing-function: ease;
		}

		@keyframes bounce-3 {
			0% {
				transform: translateY(0);
			}

			30% {
				transform: translateY(-100px);
			}

			50% {
				transform: translateY(0);
			}

			100% {
				transform: translateY(0);
			}
		}


	</style>

	<script type="text/javascript">
		$(document).ready(function () {

			$("#form").submit(function (event) {

				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/forgetpass',
					data: $('#form').serialize(),
					dataType: "json",
					success: function (response) {
						//alert("a");
						//console.log(response.Success);
						$('#form')[0].reset();
						//alert("abc");
						document.getElementById("check").innerHTML = response.Success;

						setTimeout(function () {
							document.getElementById("check").innerHTML = "";
						}, 3000);
						if (response.Success == "Password changed!") {
							document.getElementById("aa").click();
						};
					},
					error: function () {
					}
				})
			});

		});
	</script>
</head>

<body>

	<div class="title" style="position: absolute;">
		<a href="https://cooltext.com"><img src="https://images.cooltext.com/5345510.png" width="246" height="88"
				alt="Beatsy" /></a>
		<p style="font-size: 18px;margin-left: 25px;color: rgb(255, 242, 242);margin-top:1px;position: relative;">
			Digital music service</p>

	</div>

	<div style="position: absolute;">
	
		<img class="box bounce-3" style="width: 600px;margin-top: 20%;
						margin-left: 30%;" src="./pass2.png" alt="">
	
	</div>
	<h1 style="position: absolute;width: 600px;margin-top: 20%;
	margin-left: 30%;font-family: Arial, Helvetica, sans-serif;font-size: 44px;text-shadow: 2px 2px #000000;">Change Password</h1>
	<div class="wrapper" style="z-index: -10;">
		<div class="container">
			<h1>Forgot password</h1>
			<form id="form" method="post">
				<input type="text" name="email" placeholder="E-mail" required="" class="form-control"><br />
				<input type="password" name="password" placeholder="Password" required="" class="form-control"><br />
				<input type="password" name="passwordConf" placeholder="Confirm Password" required=""
					class="form-control"><br />
				<input type="submit" value="Change" id="button">
				<span>Have an Account! <a href="/login">Login</a></span>
			</form>
		</div>
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>


		</ul>
	</div>
	<div class="mssg bg-danger">
		<span id="check"></span>
	</div>
	<div id="LangTable"><a href="/login" id="aa"></a>
	</div>




	<div class="footer"><strong>Beatsy</strong></div>
</body>

</html>