<!DOCTYPE html>
<html>

<head>
    <title>Beatsy - User Profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/Home.css">

    <style>

.footer {
    position: fixed;
    right: 0 !important;
    bottom: 0 !important;
    left: 0;
    padding: 1rem !important;
    font-weight: 900 !important;
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: left !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  }
        #primary_nav_wrap {
            margin-top: 40px;
            position: absolute;
            margin-left: 950px;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 5px;

        }

        #primary_nav_wrap ul {
            list-style: none;
            position: relative;
            float: left;
            margin: 0;
            padding: 0;

        }

        #primary_nav_wrap ul a {
            display: block;
            color: white;
            text-decoration: none;
            font-weight: 700;
            font-size: 18px;
            line-height: 32px;
            padding: 0 15px;
            font-family: Arial, Helvetica, sans-serif;

        }

        #primary_nav_wrap ul li {
            position: relative;
            float: left;
            margin: 0;
            padding: 0;

        }



        #primary_nav_wrap ul li:hover {
            background: #34495E;
            border-radius: 5px;

        }

        #primary_nav_wrap ul ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background: #34495E;
            padding: 0;
            width: 130px;
        }


        .current-menu-item ul ul li {
            float: none;
            width: 130px;
            width: 130px;
        }

        .current-menu-item ul ul a {
            line-height: 120%;
            padding: 10px 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            width: 130px;
        }

        .current-menu-item ul ul ul {
            top: 0;
            left: 100%;
            width: 130px;
        }

        #primary_nav_wrap ul li:hover>ul {
            display: block;
            background-color: #34495E;
            ;
        }

        .drop {
            color: white !important;
            width: 130px;

        }

        .down:hover {
            width: 130px;
            background-color: rgb(0, 0, 0);
            border-radius: 5px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#form").submit(function (event) {
                event.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: '/login',
                    data: $('#form').serialize(),
                    dataType: "json",
                    success: function (response) {
                        //alert("a");
                        //console.log(response.Success);
                        $('#form')[0].reset();

                        document.getElementById("check").innerHTML = response.Success;
                        //ADD THIS CODE
                        setTimeout(function () {
                            document.getElementById("check").innerHTML = "";
                        }, 3000);
                        if (response.Success == "Success!") {
                            document.getElementById("aa").click();
                            // console.log(data.username);
                        };
                    },
                    error: function () {
                    }
                })
            });

        });
    </script>
</head>

<body style="background-image: url('https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');" onload="playlist()">

    <div class="title" style="position: absolute;">
        <a href="https://cooltext.com"><img src="https://images.cooltext.com/5345510.png" width="246" height="88"
                alt="Beatsy" /></a>
        <p style="font-size: 18px;margin-left:-50px;color: rgb(255, 242, 242);margin-top:-14px;position: relative;">
            Digital music service</p>
    </div>
    <!-- <h4 style="font-family: Arial, Helvetica, sans-serif;position: absolute;margin-left: 930px;margin-top: 400px;">To change password <a href="./forget">click here</a></h4> -->
    <nav id="primary_nav_wrap">
        <ul>
            <li class="current-menu-item"><a style="font-size46px" href="./weekly.html">Weekly Top</a></li>
            <li class="current-menu-item"><a style="font-size46px" href="/home">Home</a></li>
            <li class="current-menu-item"><a style="font-size46px" href="../client/about.html">About</a></li>
            <li><a href="#">My Account</a>
                <ul class="down" style="width: 130px;margin-top:0px;">
                    <li><a style="font-size46px" class="down" href="/profile">My Profile</a></li>
                    <li><a style="font-size46px" class="down" href="/logout">Logout</a></li>
                </ul>
    </nav>
    <div class="playlist">

        <h1 style="color: white; text-shadow: 5px 2px #000000;"><u>Choose your Playlist, <%= name %></u></h1>
        <section class="main">

            <a id="english" href="./client/english.html" style="text-decoration: none;">
                <div class="wrap wrap--1">
                    <div class="container container--1">
                        <p>English</p>
                    </div>
                </div>
            </a>

            <a id="hindi" style="text-decoration: none;" href="./client/hindi.html">
                <div class="wrap wrap--2">
                    <div class="container container--2">
                        <p>Hindi</p>
                    </div>
                </div>
            </a>
            <a id="malayalam" href="./client/Malayalam.html" style="text-decoration: none;">
                <div class="wrap wrap--3">
                    <div class="container container--3">
                        <p>Malayalam</p>
                    </div>
                </div>
            </a>

            <a id="kannada" href="./client/kannada.html" style="text-decoration: none;">
                <div class="wrap wrap--4">
                    <div class="container container--4">
                        <p>Kannada</p>
                    </div>
                </div>
            </a>

        </section>
    </div>


    <script>
        function playlist() {
            var name = "<%= playlist %>";
            console.log(name);
        
            if(name == 'E' || name == "English only"){
                document.getElementById("hindi").style.display = "none";
                document.getElementById("malayalam").style.display = "none";
                document.getElementById("kannada").style.display = "none";
            }
            else if(name == 'H'){
                document.getElementById("english").style.display = "none";
                document.getElementById("malayalam").style.display = "none";
                document.getElementById("kannada").style.display = "none";
            }
            else if(name == 'M'){
                document.getElementById("hindi").style.display = "none";
                document.getElementById("english").style.display = "none";
                document.getElementById("kannada").style.display = "none";
            }
            else if(name == 'K'){
                document.getElementById("hindi").style.display = "none";
                document.getElementById("malayalam").style.display = "none";
                document.getElementById("english").style.display = "none";
            }
            else if(name == 'EM'){
                document.getElementById("hindi").style.display = "none";
                document.getElementById("kannada").style.display = "none";
            }
            else if(name == 'EH'){
     
                document.getElementById("malayalam").style.display = "none";
                document.getElementById("kannada").style.display = "none";
            }
            else if(name == 'EK'){
                document.getElementById("hindi").style.display = "none";
                document.getElementById("malayalam").style.display = "none";
            }
            else if(name == 'HM'){
           
                document.getElementById("english").style.display = "none";
                document.getElementById("kannada").style.display = "none";
            }
            else if(name == 'HK'){
                document.getElementById("malayalam").style.display = "none";
                document.getElementById("english").style.display = "none";
            }
            else if(name == 'Mk'){
                document.getElementById("hindi").style.display = "none";
                document.getElementById("english").style.display = "none";
            }
            else if(name == 'EHM'){
    
                document.getElementById("kannada").style.display = "none";
            }
            else if(name == 'EHK'){
                document.getElementById("malayalam").style.display = "none";
            }
            else if(name == 'EKM'){
                document.getElementById("hindi").style.display = "none";
            }
            else if(name == 'HMK'){
                document.getElementById("english").style.display = "none";
            }
            else if(name == 'AP'){
                // document.getElementById("english").style.display = "none";
            }



        }
    </script>
	<div class="footer"><strong>Beatsy</strong></div>
</body>
<script>


    class parallaxTiltEffect {

        constructor({ element, tiltEffect }) {

            this.element = element;
            this.container = this.element.querySelector(".container");
            this.size = [300, 360];
            [this.w, this.h] = this.size;

            this.tiltEffect = tiltEffect;

            this.mouseOnComponent = false;

            this.handleMouseMove = this.handleMouseMove.bind(this);
            this.handleMouseEnter = this.handleMouseEnter.bind(this);
            this.handleMouseLeave = this.handleMouseLeave.bind(this);
            this.defaultStates = this.defaultStates.bind(this);
            this.setProperty = this.setProperty.bind(this);
            this.init = this.init.bind(this);

            this.init();
        }

        handleMouseMove(event) {
            const { offsetX, offsetY } = event;

            let X;
            let Y;

            if (this.tiltEffect === "reverse") {
                X = ((offsetX - (this.w / 2)) / 3) / 3;
                Y = (-(offsetY - (this.h / 2)) / 3) / 3;
            }

            else if (this.tiltEffect === "normal") {
                X = (-(offsetX - (this.w / 2)) / 3) / 3;
                Y = ((offsetY - (this.h / 2)) / 3) / 3;
            }

            this.setProperty('--rY', X.toFixed(2));
            this.setProperty('--rX', Y.toFixed(2));

            this.setProperty('--bY', (80 - (X / 4).toFixed(2)) + '%');
            this.setProperty('--bX', (50 - (Y / 4).toFixed(2)) + '%');
        }

        handleMouseEnter() {
            this.mouseOnComponent = true;
            this.container.classList.add("container--active");
        }

        handleMouseLeave() {
            this.mouseOnComponent = false;
            this.defaultStates();
        }

        defaultStates() {
            this.container.classList.remove("container--active");
            this.setProperty('--rY', 0);
            this.setProperty('--rX', 0);
            this.setProperty('--bY', '80%');
            this.setProperty('--bX', '50%');
        }

        setProperty(p, v) {
            return this.container.style.setProperty(p, v);
        }

        init() {
            this.element.addEventListener('mousemove', this.handleMouseMove);
            this.element.addEventListener('mouseenter', this.handleMouseEnter);
            this.element.addEventListener('mouseleave', this.handleMouseLeave);
        }

    }

    const $ = e => document.querySelector(e);

    const wrap1 = new parallaxTiltEffect({
        element: $('.wrap--1'),
        tiltEffect: 'reverse'
    });

    const wrap2 = new parallaxTiltEffect({
        element: $('.wrap--2'),
        tiltEffect: 'normal'
    });

    const wrap3 = new parallaxTiltEffect({
        element: $('.wrap--3'),
        tiltEffect: 'normal'
    });

    const wrap4 = new parallaxTiltEffect({
        element: $('.wrap--4'),
        tiltEffect: 'reverse'
    });
</script>

</html>