<!DOCTYPE html>
<html>
<head>
	<title>Beatsy - Digital music service</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./client/css/login.css">
	<script type="text/javascript">
		$(document).ready(function () {

			$("#form").submit(function (event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/',
					data: $('#form').serialize(),
					dataType: "json",
					success: function (response) {
						//alert("a");
						//console.log(response.Success);
						$('#form')[0].reset();

						document.getElementById("check").innerHTML = response.Success;
						//ADD THIS CODE
						setTimeout(function () {
							document.getElementById("check").innerHTML = "";
						}, 3000);
						if (response.Success == "You are regestered,You can login now.") {
							document.getElementById("aa").click();
						};
					},
					error: function () {
					}
				})
			});
		});
	</script>
</head>
<body>
	<div class="title" style="position: absolute;">
		<a href="https://cooltext.com"><img src="https://images.cooltext.com/5345510.png" width="246" height="88"
				alt="Beatsy" /></a>
		<p style="font-size: 18px;margin-left: 25px;color: rgb(255, 242, 242);margin-top:1px;position: relative;">
			Digital music service</p>
	</div>
	<div style="position: absolute;">
		<h1 style="font-size: 90px;font-weight: 900;letter-spacing: -0.04em;line-height: 1.15;margin-top: 30%;margin-left: 30%;">Join the Music Elite group.</h1>
		<p style="   margin-top: 0;
								margin-left: 30%;">Enjoy the music-some experience.</p>
	</div>
	<div class="wrapper" style="z-index: -10;">
		<div class="container">
			<form id="form" method="post">
				<input type="email" name="email" placeholder="E-mail" required="" class="form-control"><br />
				<input type="text" name="username" placeholder="Username" required="" class="form-control"><br />
				<input type="password" name="password" placeholder="Password" required="" class="form-control"><br />
				<input type="password" name="passwordConf" placeholder="Confirm Password" required=""
					class="form-control"><br />
				<!-- <input style="margin-top: 0;" type="text" name="gender" placeholder="Gender" required=""
					class="form-control"><br /> -->
					<strong> Select Gender</strong>
					<select style="width: 170px;" name="gender" required="" class="form-control">
						<option value="male">Male</option>
						<option value="female">Female</option>
					</select> <br>
				<strong> Choose playlist</strong>
				<select name="playlist">
					<option value="AP">Choose</option>
					<option value="AP">All playlist</option>
					<option name="E">English only</option>
					<option value="H">Hindi only</option>
					<option value="M">Malayalam only</option>
					<option value="K">Kannada only</option>
					<option value="EH">English, Hindi</option>
					<option value="EM">English, Malayalam</option>
					<option value="EK">English, Kannada</option>
					<option value="HM">Hindi, Malayalam</option>
					<option value="HK">Hindi, Kannada</option>
					<option value="KM">Kannada, Malayalam</option>
					<option value="EKM">English, Hindi, Kannada</option>
					<option value="KHM">English , Hindi, Malayalam</option>
					<option value="EKM">Hindi, Kannada, Malayalam</option>
					<option value="HMK">Hindi, Malayalam, Kannada</option>
				</select>
				<input type="submit" value="Register" id="button">
				<span>Already Registered! <a href="/login">Login</a></span>
			</form>
		</div>
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="mssg bg-danger">
		<span id="check"></span>
	</div>

	<div id="LangTable"><a href="./client/loading.html" id="aa"></a>
	</div>
	<div class="footer"><strong>Beatsy</strong></div>

</body>

</html>