<!DOCTYPE html>
<html>

<head>
	<title>Beatsy -  Digital music service</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./client/css/login.css">

	<script type="text/javascript">
		$(document).ready(function () {

			$("#form").submit(function (event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/login',
					data: $('#form').serialize(),
					dataType: "json",
					success: function (response) {
						//alert("a");
						//console.log(response.Success);
						$('#form')[0].reset();

						document.getElementById("check").innerHTML = response.Success;
						//ADD THIS CODE
						setTimeout(function () {
							document.getElementById("check").innerHTML = "";
						}, 3000);
						if (response.Success == "Success!") {
							document.getElementById("aa").click();
							// console.log(data.username);
						}
						else{
								window.alert("No Account found, try another account or create one. ");
						};
					},
					error: function () {
					}
				})
			});

		});
	</script>
</head>

<body>
	<div class="title" style="position: absolute;">
		<a href="https://cooltext.com"><img src="https://images.cooltext.com/5345510.png" width="246" height="88"
				alt="Beatsy" /></a>
		<p style="font-size: 18px;margin-left: 25px;color: rgb(255, 242, 242);margin-top:1px;position: relative;">
			Digital music service</p>
	</div>

	<div style="position: absolute;">
		<h1 style="
					font-size: 70px;
			font-weight: 900;
			letter-spacing: -0.04em;
			line-height: 1.15;
			margin-top: 35%;
			margin-left: 40%;
			
				">Best of music in one place.</h1>
		<p style="   margin-top: 0;
				margin-left: 40%;">Enjoy the music-some experience.</p>
		<p style="   margin-top: 0;
margin-left: 40%;">.....................................................................</p>
		<span style="font-size: 40px;margin-left: 25px;color: rgb(255, 242, 242); margin-top: 0;
		margin-left: 40%;position: relative;">New
			to Beatsy?</span><a style="font-size: 28px;color: rgb(20, 245, 20);" href="/">Click here</a>

	</div>
	<div class="wrapper" style="z-index: -10;">
		<div class="containers">
			<h1>Welcome</h1>
			<form id="form" method="post">
				<input type="text" name="email" placeholder="E-mail" required="" class="form-control"><br />
				<input type="password" name="password" placeholder="Password" required="" class="form-control"><br />
				<input type="submit" value="Login" id="button">
				<div><span>Forgot password?</span><a href="/forgetpass">click here</a>
				</div>
			</form>
		</div>
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>


		</ul>
	</div>
	<div class="mssg bg-danger">
		<span id="check"></span>
	</div>
	<div id="LangTable"><a href="/home" id="aa"></a>
	</div>

	</div>
	<div class="footer"><strong>Beatsy</strong></div>
</body>

</html>